[Unit]
Description=Fake Blockchain Node Service
After=network.target

[Service]
ExecStart=/bin/sleep infinity
Restart=always

[Install]
WantedBy=multi-user.target
